<h1>Que voulez vous faire ?</h1>
<p><a href="/indexmanager/<%=@login%>/managemeals">Gérer les repas</a></p>
<p><a href="/indexmanager/<%=@login%>/managecustomers">Gérer les clients</a></p>
<p><a href="/indexmanager/<%=@login%>/manageorders">Gérer les commandes</a></p>
<p><a href="/">Log out</a></p>

